<footer id="contact">
    <div class="base footer">
        <p id="registerHere"><a href="">Acerca de</a>
        <a href="">Contacto</a>
        <a href="">Privacidad</a>
        <a href="">Condiciones</a>
        <a href="/index/faq">Faq</a></p>
    </div>
    <div class="contact-us">
        <p>Una producción de Leonardo Lopez</p>
        <p class="brand">WormHole Plan © 2020</p>
    </div>
</footer>