<div class="sideBar">


    <div id="search" >
        <label for="search">Buscar amigos</label>
        <form action="/users/search" method="POST">
        <input type="search" id="searchInput" name="search">
    </form>
    </div>
    <div id="hobbieDiv">
        <a href="/deporte" class="sideBarItem">Deporte</a>
            <a href="/planDeVida" class="sideBarItem">Plan de vida</a>
            <a href="/estudio" class="sideBarItem">Estudio</a>
            <a href="/hobbies" class="sideBarItem">Hobbies</a>
            <a href="/agenda" class="sideBarItem"> Agenda </a>
            <a href="/blogs" class="sideBarItem">publicaciones</a>
            <a href="/ruedaDeVida" class="sideBarItem"> Rueda de vida </a>
            
    </div>

</div>